In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/5th sem/ML/MLLAB/salary_data.csv')
df_Salary = df.iloc[:,1:2] # returns dataframe
df_YOE = df.iloc[:,0:1] # returns dataframe

In [ ]:
# Question 1)

# number of patterns = number of rows 
# number of features = in  general number of columns -1 , last one is output
# range = max - min
print('Number of Patterns : ', len(df))
print('Number of features : ', len(df.columns)-1)

range_value = int(df_Salary.max()) - int(df_Salary.min())
print('Range of Output : ',int(range_value))

Number of Patterns :  30
Number of features :  1
Range of Output :  84660

In [ ]:
# Question 3)

# # Column wise mean ( default axis = 0 which represents columns)
# print('Column Wise Mean : ', list(df.mean()))
# # Row wise mean ( axis = 1 which represents rows)
print('Row Wise Mean : ', list(df.mean(axis = 1))) 
# # Overall Mean

print('Overall Mean : ', (df.mean().mean()))

# # returns series which can be converted to list.
# print('Column Wise Median :', list(df.median()))
# print('Row Wise Median :', list(df.median(axis=1)))
# print('Overall Median :', (df.median().median()))

# returns dataframe as there can be values with same frequency
# print('Column Wise Mode :', (df.mode()))
# print('Rows Wise Mode :', (df.mode(axis = 1))) print('Overall Mode :', df.mode().mode())


# # series

# print('Column wise Standard Deviation :', list(df.std()))

# # series
# print('Row wise standard Deviation :', (df.std(axis = 1)))

# # float
# print('Overall standard Deviation :', (df.std().std()))

Row Wise Mean :  [19672.05, 23103.15, 18866.25, 21763.5, 19946.6, 28322.45, 30076.5, 27224.1, 32224.1, 28596.35, 31610.95, 27899.0, 28480.5, 28542.55, 30557.75, 33971.45, 33017.05, 41546.65, 40684.45, 46973.0, 45872.4, 49140.05, 50654.95, 56910.1, 54719.85, 52795.5, 58489.25, 56322.3, 61200.65, 60941.25]
Overall Mean :  38004.15666666667

In [ ]:
# polynomial y = 3*x - 5


#series / series length
print((len(df["Salary"])))
# numpy array
print((df["Salary"].values))


predicted_values = [3*x - 5 for x in df["Salary"].values]


print((predicted_values))


SSE = 0
for i in range(len(predicted_values)):
  SSE += pow(df["Salary"].values[i] - predicted_values[i] , 2 )


print(SSE)

# for i in predicted_values:
#   print(i)

30
[ 39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
  63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
  91738  98273 101302 113812 109431 105582 116969 112635 122391 121872]
[118024, 138610, 113188, 130570, 119668, 169921, 180445, 163330, 193330, 171562, 189649, 167377, 170866, 171238, 183328, 203809, 198082, 249259, 244084, 281815, 275209, 294814, 303901, 341431, 328288, 316741, 350902, 337900, 367168, 365611]
780309031438